# Port number
PORT=YOUR_PORT_NUMBER

# URL of the Mongo DB
MONGODB_URL=YOUR_MONGODB_URL

# JWT
# JWT secret key
JWT_SECRET=YOUR_JWT_SECRET
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=YOUR_SMTP_HOST
SMTP_PORT=YOUR_SMTP_PORT
SMTP_USERNAME=YOUR_SMTP_USERNAME
SMTP_PASSWORD=YOUR_SMTP_PASSWORD
EMAIL_FROM=YOUR_EMAIL_FROM

# Cookie configs
COOKIE_SECRET=YOUR_COOKIE_SECRET

# URL of client application
CLIENT_URL=http://localhost:5000

# FCM server keys
GOOGLE_SERVICE_ACCOUNT_KEY={
  "type": "your_service_account_type",
  "project_id": "your_project_id",
  "private_key_id": "your_private_key_id",
  "private_key":  "your_private_key",
  "client_email": "your_client_email",
  "client_id": "your_client_id",
  "auth_uri": "your_auth_uri",
  "token_uri": "your_token_uri",
  "auth_provider_x509_cert_url": "your_auth_provider_x509_cert_url",
  "client_x509_cert_url": "your_client_x509_cert_url",
  "universe_domain": "your_universe_domain"
}
